.page-header
  %h1
    %span.glyphicon.glyphicon-stats
    =t 'statistics.orders.title'


.row
  .col-md-5
    .panel.panel-default
      .panel-heading
        %span.panel-title
          Filter
          = link_to url_for() do
            %span.pull-right{style: 'cursor: pointer'}
              %span.glyphicon.glyphicon-remove-circle
      .panel-body
        = form_tag(statistics_orders_path, method: "get") do
          .row
            .col-xs-4
              .form-group
                = select_tag(:product_id, options_from_collection_for_select(Product.order(name: :asc).all,"id","name", params['product_id']), {include_blank: true, class: 'form-control', onchange: "this.form.submit();" })

.row
  .col-md-10
    .panel.panel-info
      .panel-heading
        %h2.panel-title Test
      .panel-body
        #orders
        = content_for :javascript do
          :javascript
            new Morris.Line({
              element: 'orders',
              data: #{bookings_by_date_and_product.to_json},
              xkey: 'date_key',
              ykeys: ['value'],
              labels: ['Bestellungen'],
              resize: true
            });