.page-header
  %h1
    %span.glyphicon.glyphicon-stats
    =t 'statistics.orders.title'


.row
  .col-lg-10
    .panel.panel-default
      .panel-heading
        %span.panel-title
          Filter
          = link_to url_for() do
            %span.pull-right{style: 'cursor: pointer'}
              %span.glyphicon.glyphicon-remove-circle
      .panel-body
        = form_tag(search_statistics_orders_path, method: "post", class: 'form-inline', role: 'form') do
          .row
            .col-md-4
              = select_tag(:product_id, options_from_collection_for_select(Product.order(name: :asc).all,"id","name", params['product_id']), {prompt: 'Produkt wählen...', class: 'form-control', onchange: "this.form.submit();" })        
            .col-md-1
            = label_tag(:date_from, 'Datum von', class: 'control-label col-md-1') do
              %span.glyphicon.glyphicon-calendar 
              Datum von
            .col-md-2
              = date_field(:date_from, nil, { value: @date_from.to_date, class: 'form-control date'})
            .col-md-1
              %span.glyphicon.glyphicon-calendar
              = label_tag(:date_to, 'Datum bis')
            .col-md-2
              = date_field(:date_to, nil, { value: @date_to.to_date ,class: 'form-control date'})
            .col-md-1
              = submit_tag('filtern',  class: 'form-control btn-info')
.row
  .col-md-10
    .panel.panel-info
      .panel-body
        #orders{style: 'height:500px'}
        = content_for :javascript do
          :javascript
            var chart = new CanvasJS.Chart("orders",
            {
              theme: "theme1",
              zoomEnabled:true,
              animationEnabled: true,
              axisX:{      
                valueFormatString: "DD. MMM YY"  ,
                labelAngle: -50
              },
              axisY:{
                includeZero: true,
                gridThickness: 1
              },
              data: [
              {
                type: "line",
                color: "#d9edf7",
                toolTipContent: "<p style='\"'color: black;'\"'>{x}: <br/>{y} Bestellungen</p>",
                markerSize: 8,
                markerType: 'circle',
                markerColor: "#a0cce2",
                xValueType: "dateTime",
                xValueFormatString: "DD. MMMM YYYY",
                bevelEnabled: false,
                lineThickness: 4,
                dataPoints: #{bookings_by_date_and_product.to_json}
              }
              ]
            });

            chart.render();
      .panel-footer
        .row
          .col-md-1.pull-right
            %span.glyphicon.glyphicon-stats
            %span.glyphicons.glass

