.page-header
  %h1
    %span.glyphicon.glyphicon-stats
    =t 'statistics.index.title'

%h2 Bestellungen
- @date_formats.each do |date_format|
  .panel.panel-info.pull-left{style:"margin:20px;"}
    .panel-heading
      %h2.panel-title= t("statistics.index.headlines.#{date_format}")
    .panel-body
      %div{id: "orders_by_#{date_format}", style: "width:400px; height:200px;"}

      = content_for :javascript do
        :javascript
          new Morris.Bar({
            // ID of the element in which to draw the chart.
            element: 'orders_by_#{date_format}',
            // Chart data records -- each entry in this array corresponds to a point on the chart.
            data: #{@orders_by_date_format[date_format].to_json},
            // The name of the data record attribute that contains x-values.
            xkey: 'date_key',
            // A list of names of data record attributes that contain y-values.
            ykeys: ['value'],
            // Labels for the ykeys -- will be displayed when you hover over the chart.
            labels: ['Bestellungen'],
            resize: true
          });

