= form_for :user, url: { action: "update_password" }, html: { class: 'form-horizontal' } do |f|
  - if @user.errors.any?
    %ul.list-unstyled
      - @user.errors.full_messages.each do |error|
        %li= error
  .form-group
    = f.label :current_password, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.password_field :current_password, class: 'form-control', placeholder: User.human_attribute_name(:current_password)
  .form-group
    = f.label :password, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.password_field :password, class: 'form-control', placeholder: User.human_attribute_name(:password)
  .form-group
    = f.label :password_confirmation, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.password_field :password_confirmation, class: 'form-control', placeholder: User.human_attribute_name(:password_confirmation)
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
    = link_to t('.cancel', default: t("helpers.links.cancel")), bookings_path, class: 'btn'
