- model_class = User
.page-header
  %h1
    %span.glyphicon.glyphicon-user
    =t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:email)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:bookings)
      %th= model_class.human_attribute_name(:balance)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.name
        %td
          - user.ordered_products.each do |id, order|
            = "#{order[:amount]} x #{order[:product_title]}"
            %br
        %td= number_to_currency user.balance, presicion: 2
        %td
          - if user == current_user
            = link_to t('.edit', :default => t("helpers.links.update_password")), [:edit, user], class:'btn btn-danger'
          - else
            &nbsp;