- model_class = User
.page-header
  %h1
    %span.glyphicon.glyphicon-user
    =t '.title', default: model_class.model_name.human.pluralize.titleize
.panel.panel-default{style:'max-width: 600px'}
  .panel-heading
    %span.panel-title
      Filter
      = link_to url_for() do
        %span.pull-right{style: 'cursor: pointer'}
          %span.glyphicon.glyphicon-remove-circle
  .panel-body
    = search_form_for @filters, url: search_users_path, html: {method: :post } do |f|
      .form-group
        = f.select :id_eq, options_from_collection_for_select(User.order(first_name: :asc).all,"id","name", @filters.id_eq), {include_blank: "Benutzer..."}, {class: "form-control", onchange: "this.form.submit();"}
      .input-group
        = f.text_field :email_or_first_name_or_last_name_start, placeholder: 'Suche', class:'form-control'
        %span.input-group-btn
          %button.btn.btn-default{type: "submit"}
            %span.glyphicon.glyphicon-search

%table.table.table-striped
  %thead
    %tr
      %th=t '.column.email'
      %th=t '.column.name'
      %th=t '.column.bookings'
      %th=t '.column.balance'
      %th=t '.actions', default: t("helpers.actions")
  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.name
        %td
          - user.ordered_products.each do |id, order|
            = "#{order[:amount]} x #{order[:product_title]}"
            %br
        %td= number_to_currency user.balance(@realm.id), presicion: 2
        %td
          - if user == current_user
            = link_to t('.edit', default: t("helpers.links.update_password")), [:edit, user], class:'btn btn-danger'
          - else
            &nbsp;