= form_for @delivery, html:{ class:'form-horizontal' } do |f|
  = f.hidden_field :realm_id, value: @realm.id
  - if @delivery.errors.any?
    %ul.errors
      - @delivery.errors.full_messages.each do |error|
        %li= error
  .form-group
    = f.label :product_id, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.select :product_id, options_from_collection_for_select(Product.order('name ASC').all, 'id', 'title', @delivery.product_id), {}, {class: "form-control"}
  .form-group
    = f.label :quantity, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :quantity, class:'form-control'
  .form-group
    = f.label :price, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :price, class:'form-control', data: { behaviour: "format-number" }
  .form-actions
    .col-sm-offset-2.col-sm-10
      = f.submit nil, class:'btn btn-primary'
      = link_to t('.cancel', default: t("helpers.links.cancel")), deliveries_path, class:'btn'
