.page-header
  %h1=t '.title', default: Sku.model_name.human.pluralize.titleize
= link_to t('.new', default: t("helpers.links.new")), new_sku_path, class:'btn btn-primary'
%table.table.table-striped
  %thead
    %tr
      %th= Sku.human_attribute_name(:id)
      %th= Sku.human_attribute_name(:title)
      %th= Sku.human_attribute_name(:short)
      %th=t '.actions', default: t("helpers.actions")
  %tbody
    - @skus.each do |sku|
      %tr
        %td= link_to sku.id, sku_path(sku)
        %td= sku.title
        %td= sku.short
        %td
          = link_to t('.edit', default: t("helpers.links.edit")), edit_sku_path(sku), class:'btn btn-warning'
          = link_to t('.destroy', default: t("helpers.links.destroy")), sku_path(sku), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class:'btn btn-mini btn-danger'
