= content_for :javascript do
  :javascript
    window.sumo_action();

%ul#dashboard.list-group{style: 'max-width:500px;'}
  %li.list-group-item.list-group-item-info
    %strong= @user.name
    %span.glyphicon.glyphicon-stats
  - if not @last_delivery.nil?
    %li.list-group-item
      = link_to deliveries_path(q: {user_id_eq: current_user.id}) do
        = t 'order_item.last_delivery'
        %span.label.label-info.pull-right
          = @last_delivery
  %li.list-group-item
    = link_to orders_path(q: {user_id_eq: current_user.id}) do
      = t 'order_item.orders'
      %span.label.label-info.pull-right
        = @user.orders.current_realm(@current_user.current_realm_id).today.count
  %li.list-group-item
    = link_to orders_path(q: {user_id_eq: current_user.id}) do
      = t 'order_item.last_order'
      %span.label.label-info.pull-right
        = @last_order
  %li.list-group-item
    = link_to orders_path(q: {user_id_eq: current_user.id}) do
      = t 'order_item.calories_amount'
      %span.label.label-info.pull-right
        = current_user.todays_calories
        = t'products.calories_short'
  %li.list-group-item
    = link_to orders_path(q: {user_id_eq: current_user.id}) do
      = t 'order_item.orders_amount'
      %span.label.label-warning.pull-right
        = number_to_currency @current_user.orders.current_realm(@current_user.current_realm_id).today.sum('bookings.amount'), presicion: 2
  %li.list-group-item
    = link_to users_path(q: {id_eq: current_user.id}) do
      = t 'order_item.balance'
      - balance = @current_user.balance(@current_user.current_realm_id)
      %span.label.pull-right{class: "label-#{balance > 0 ? 'success' : 'danger'}"}
        = number_to_currency balance, presicion: 2

#order-items-overview
  - Category.products_for_realm(@current_user.current_realm_id).by_position.each do |category|
    - if category.products.current_realm(@current_user.current_realm_id).any?
      .panel.panel-info
        .panel-heading
          %h2.panel-title= category.title
        .panel-body
          - category.products.order('name ASC').each do |product|
            - if product.remaining(@current_user.current_realm_id) > 0
              = form_for @order_item do |f|
                = f.hidden_field :amount, class: 'form-control', value: 1
                = f.hidden_field :delivery_id, class: 'form-control', value: product.current_delivery(@current_user.current_realm_id).id
                .inline-block{style: "margin: 15px"}
                  %button.btn.btn-default.panel.panel-default
                    .panel-heading
                      = product.title
                    .panel-body
                      = image_tag product.picture.url(:medium), style: "max-height:133px;", alt: product.name, title: product.name
                    .panel-footer
                      = remaining_label(product, @current_user.current_realm)
                      .price= "#{t "delivery.price"}: #{number_to_currency product.current_delivery(@current_user.current_realm_id).unit_price, precision: 2}"
                      .calories
                        = "#{t "products.calories"}: #{product.calories} #{t 'products.calories_short'}"
