= content_for :javascript do
  :javascript
    window.sumo_action();

%ul#dashboard.list-group{style: 'max-width:500px;'}
  %li.list-group-item.list-group-item-info
    %strong= @user.name
    %span.glyphicon.glyphicon-stats
  - if not @last_delivery.nil?
    %li.list-group-item
      = link_to deliveries_path(q: {user_id_eq: current_user.id}) do
        = t 'order_item.last_delivery'
        %span.label.label-info.pull-right
          = @last_delivery
  %li.list-group-item
    = link_to orders_path(q: {user_id_eq: current_user.id}) do
      = t 'order_item.orders'
      %span.label.label-info.pull-right
        = @user.orders.today.count
  %li.list-group-item
    = link_to orders_path(q: {user_id_eq: current_user.id}) do
      = t 'order_item.last_order'
      %span.label.label-info.pull-right
        = @last_order
  %li.list-group-item
    = link_to orders_path(q: {user_id_eq: current_user.id}) do
      = t 'order_item.calories_amount'
      %span.label.label-info.pull-right
        = current_user.todays_calories
        = t'products.calories_short'
  %li.list-group-item
    = link_to orders_path(q: {user_id_eq: current_user.id}) do
      = t 'order_item.orders_amount'
      %span.label.label-warning.pull-right
        = number_to_currency @user.orders.today.sum(:amount), presicion: 2
  %li.list-group-item
    = link_to users_path(q: {id_eq: current_user.id}) do
      = t 'order_item.balance'
      - if @user.balance < 0
        %span.label.label-danger.pull-right
          = number_to_currency @user.balance, presicion: 2
      -else
        %span.label.label-success.pull-right
          = number_to_currency @user.balance, presicion: 2


= form_for @order_item, html:{ class:'form-horizontal' } do |f|
  = f.hidden_field :amount, class: 'form-control', value: 1
  = f.hidden_field :delivery_id, class: 'form-control'
  - Category.by_position.all.each do |category|
    - if category.products.any?
      .panel.panel-info
        .panel-heading
          %h2.panel-title= category.title
        .panel-body
          - category.products.order('name ASC').all.each do |product|
            - if product.remaining > 0
              .inline-block{style: "margin: 15px"}
                %button.btn.btn-default.panel.panel-default{ style: "padding:0;min-width:232px;", onclick: "$('#order_item_delivery_id').val(#{product.current_delivery.id});"}
                  .panel-heading
                    = product.title
                  .panel-body
                    = image_tag product.picture.url(:medium), style: "max-height:133px;", alt: product.name, title: product.name
                  .panel-footer
                    - if product.remaining <= 5
                      .remaining
                        = "#{t "product.remaining"}: "
                        %span.label.label-danger
                          = product.remaining
                    - elsif product.remaining <= 10
                      .remaining
                        = "#{t "product.remaining"}: "
                        %span.label.label-warning
                          = product.remaining
                    - else
                      .remaining
                        = "#{t "product.remaining"}: "
                        %span.label.label-info
                          = product.remaining
                    .price= "#{t "delivery.price"}: #{number_to_currency product.current_delivery.unit_price, precision: 2}"
                    .calories
                      = "#{t "products.calories"}: #{product.calories} #{t 'products.calories_short'}"
