= form_for @product, :html => { :class => 'form-horizontal' } do |f|
  - if @product.errors.any?
    %ul.errors
      - @product.errors.full_messages.each do |error|
        %li= error
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :size, :class => 'control-label'
    .controls
      = f.text_field :size, :class => 'text_field', data: { behaviour: "format-number" }
  .control-group
    = f.label :picture, :class => 'control-label'
    .controls
      = f.file_field :picture, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), products_path, :class => 'btn'
