!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "#{t('navbar.title')} - #{t('navbar.subtitle')}"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", media:  "all"
    = favicon_link_tag 'favicons/sumo-144.png', rel:  'apple-touch-icon-precomposed', type:  'image/png', sizes:  '144x144'
    = favicon_link_tag 'favicons/sumo-114.png', rel:  'apple-touch-icon-precomposed', type:  'image/png', sizes:  '114x114'
    = favicon_link_tag 'favicons/sumo-72.png', rel:  'apple-touch-icon-precomposed', type:  'image/png', sizes:  '72x72'
    = favicon_link_tag 'favicons/sumo-128.png', rel:  'apple-touch-icon-precomposed', type:  'image/png'
    = favicon_link_tag 'favicons/favicon.ico', rel:  'shortcut icon'

    / <link href="/assets/mb-icon.png" rel="apple-touch-icon" type="image/png" />
  %body
    - if user_signed_in?
      #sumo_action
        #sumo_hai
          %span.label.label-info
            Hai!
        = image_tag 'sumo_big.png', size: '400x400'

    %a.hidden-sm.hidden-xs{href: "https://github.com/Uepsilon/consumo"}
      %img{alt: "Fork me on GitHub", "data-canonical-src" => "https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", src: "https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67", style: "position: fixed; top: 0; right: 0; border: 0; z-index: 9999;"}/

    .navbar.navbar-default.navbar-fixed-top
      .container-fluid{style: 'padding-left: 0;'}
        .navbar-header{style: 'margin-left:15px;'}
          - if user_signed_in?
            %button.navbar-toggle{"data-target" => "#navbar-collapse-main-menue", "data-toggle" => "collapse", type: "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
          = link_to :new_order_item, class: "navbar-brand", style: 'margin-top:-4px;' do
            = image_tag 'sumo_head.png', style: 'position:relative;margin-top:-5px;'
            = t('navbar.title')
            - if not user_signed_in?
              %small
                =t('navbar.subtitle')
        - if user_signed_in?
          #navbar-collapse-main-menue.navbar-collapse.collapse
            %ul.nav.navbar-nav
              %li
                = link_to :new_order_item do
                  %span.glyphicon.glyphicon-ok-circle
                  = t("navbar.order")
              %li.dropdown
                = link_to '#', { "data-toggle" => 'dropdown', class:  'dropdown-toggle'} do
                  %span.glyphicon.glyphicon-stats
                  = t("navbar.statistics.statistics")
                  %b.caret
                %ul.dropdown-menu
                  %li
                    = link_to :statistics_popularity_index do
                      %span.glyphicon.glyphicon-sort
                      = t("navbar.statistics.popularity")
                  / %li
                  /   = link_to "#" do
                  /     %span.glyphicon.glyphicon-stats
                  /     = t("navbar.statistics.orders")
              %li.dropdown
                = link_to '#', { "data-toggle" => 'dropdown', class:  'dropdown-toggle'} do
                  %span.glyphicon.glyphicon-cog
                  = t("navbar.preferences")
                  %b.caret
                %ul.dropdown-menu
                  %li
                    = link_to :products do
                      %span.glyphicon.glyphicon-barcode
                      = t("navbar.product")
                  %li
                    = link_to :deliveries do
                      %span.glyphicon.glyphicon-gift
                      = t("navbar.delivery")
                  %li.divider
                  %li
                    = link_to :orders do
                      %span.glyphicon.glyphicon-ok
                      = t("navbar.orders")
                  %li
                    = link_to :bookings do
                      %span.glyphicon.glyphicon-save
                      = t("navbar.booking")
                  %li.divider
                  %li
                    = link_to :categories do
                      %span.glyphicon.glyphicon-inbox
                      = t("navbar.category")
                  %li
                    = link_to :skus do
                      %span.glyphicon.glyphicon-usd
                      = t("navbar.sku")
                  %li.divider
                  %li
                    = link_to :users do
                      %span.glyphicon.glyphicon-user
                      = t("navbar.user")
                %li
                  %form.navbar-form
                    .form-group
                      = select_tag :realm, options_from_collection_for_select(Realm.all, 'slug', 'name', @realm.slug), class: 'form-control'
              - if user_signed_in?
                %li
                  = link_to :destroy_user_session, method: :delete do
                    %span.glyphicon.glyphicon-off
                    = t("navbar.logout")

    .container-fluid#container
      .row-fluid
        .span12
          = bootstrap_flash
          = yield
    = javascript_include_tag "application"
    = content_for(:javascript)